/* colors 
#090921
#3b4223
#929218
#a65b6f
#3065a7
#fdfae9 */

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #fdfae9;
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-columns: 1fr;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #fdfae9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #929218; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b4223; 
}
/* ----------------------nav bar------------------------ */
header {
    width: 100%;
    grid-area: nav;
}

li {
    list-style: none;
}

a {
    color: #fdfae9;
    text-decoration: none;
}

.navbar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #3b4223;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-family: 'Eczar', serif;
}

.nav-logo {
    font-size: 2rem;
    color: #fdfae9;
    font-family: 'Eczar', serif;
}

.nav-logo i {
    color: #929218;
}

.nav-link {
    background:
        linear-gradient(currentColor 0 0) bottom 0   left 50% /var(--a, 0) 3px no-repeat,
        linear-gradient(currentColor 0 0) bottom 6px left 50% /var(--b, 0) 3px no-repeat;
    transition: 0.7s ease;
    color: #fdfae9;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #cbcb20;
    --a: 60%;
    --b: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fdfae9;
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -115%;
        top: 2rem;
        gap: 0;
        flex-direction: column;
        background-color: #3b4223;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/*--------------------------main-------------------------*/
main {
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* ------------------park image----------------------- */
.parkImageContainer {
    height: 56vh;
    width: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3b4223;
    position: relative;
    margin: 10px;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.parkImageText {
    color: #fdfae9;
    font-family: 'Eczar', serif;
    text-align: center;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
}

/* -----------------------alerts------------------------ */

.alertButton {
    width: 50%;
    height: 3rem;
    border-radius: 2rem;
    border: 2px solid #a65b6f;
    background-color: #fdfae9;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    transition: 500ms ease;
}

.alertButton:hover {
    cursor: pointer;
    background-color: #a65b6f;
    color: #fdfae9;
    border: 2px solid black;
}

.showAlerts {
    display: block;
    text-align: center;
}

.alertContainer {
    display: flex;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.modalText {
    background-color: #fdfae9;
    border-radius: 2rem;
    margin: 5% auto;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.alertTitle {
    color: #a65b6f;
}

.alertDescription {
    margin-top: 0;
}

.closeModal {
    align-self: flex-end;
    border: 1px solid #a65b6f;
    background-color: #fdfae9;
    transition: 500ms ease-in-out;
    border-radius: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    padding: 0 10px;
}

.closeModal:hover {
    cursor: pointer;
    background-color: #a65b6f;
    color: #fdfae9;
}

/* ------------------park information------------------- */
.outsideContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    box-sizing: border-box;
}

.parkInformationContainer {
    height: auto;
    box-sizing: border-box;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}

.parkBasicInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    margin: 0 3rem;
    gap: 3rem;
}

.basicInfoDiv {
    border-radius: 2rem;
    height: auto;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 0 10px;
    border: 2px solid #3065a7;
    box-sizing: border-box;
    min-height: 7rem;
}

.basicInfoDiv i {
    color: #3065a7;
    font-size: 2rem;
}

.basicInfoDiv p {
    margin: 0;
    font-size: 1.1rem;
}

.parkDescription {
    width: 80%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.parkDescriptionDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.parkActivities {
    box-sizing: border-box;
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.parkActivities span {
    background-color: #3065a7;
    border-radius: 1.5rem;
    padding: 10px 10px;
    color: #fdfae9;
    box-sizing: border-box;
    display: inline-block;
    width: 12rem;
    max-height: auto;
    display: grid;
    place-items: center;
}

/* -----------------------footer------------------------ */
.footer {
    grid-area: footer;
    width: 100%;
    background-color: #3b4223;
    color: #fdfae9;
    font-family: 'Eczar', serif;
    font-size: 1.5rem;
}

.footer p {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}



/* ------------------media queries---------------------- */
@media only screen and (max-width: 1180px) {
    .basicInfoDiv i {
        font-size: 1.5rem;
    }
    .parkActivities span {
        padding: 5px 5px;
        width: 12rem;
        font-size: 1rem;
    }
    .parkBasicInfo {
        gap: 1rem;
    }
    .parkImageText {
        font-size: 2rem;
    }
    .outsideContainer {
        gap: 20px;
        width: 100%;
    }
    .parkInformationContainer {
        gap: 20px;
    }
    .parkImageContainer {
        height: 40vh;
    }
}


@media only screen and (max-width: 950px) {
    .basicInfoDiv {
        flex-grow: 1;
        height: auto;
        min-height: 5rem;
    }
    .outsideContainer {
        gap: 20px;
        width: 100%;
    }
    .parkImageContainer:hover {
        background-size: cover;
    } 
}

@media only screen and (max-width: 600px) {
    .parkBasicInfo {
        display: flex;
        flex-direction: column;
    }
    .parkBasicInfo {
        display: flex;
        flex-wrap: wrap;
    }
    .parkImageText {
        font-size: 1.3rem;
    }
    .alertTitle {
        font-size: 1.1rem;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .alertDescription {
        margin-bottom: 30px;
    }
    .closeModal {
        font-size: 1rem;
    }
    .parkDescriptionDiv {
        font-size: 1rem;
    }
    .alertButton {
        font-size: 1rem;
        padding: 5px;
        width: 55%;
        height: 3.5rem;
    }
    .modalText {
        width: 80%;
        overflow: hidden;
        margin: 5% auto;
    }
}
